@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Zeyada');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');

#shophead {
  color:#c4a389;
  margin-top: 12px;
  margin-bottom: 12px;
  width:100%;
  font-family: 'Sedgwick Ave Display';
  font-size: 50px;
  text-align: center;
  backdrop-filter: blur(4px);
  border-top: white 2px solid;
  border-bottom: white 2px solid;
}

#productbox {
  display: flex;
  flex-flow:row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 60px;
}

#routine {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis:auto;
  width:220px;
  height:max-content;
  border:solid 2px white;
  color:white;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  margin: 8px;
}

#routine > * {
  text-align: center;
  flex-basis: auto;
  margin: 7px;
} 

#routine .titles {
  font-family:'Sedgwick Ave Display';
  font-size: 30px;
  text-decoration: none;
  color:#c4a389;
}

#routine .titles:hover {
  color:white;
}

.pics {
  width:150px;
  height:150px;
  margin: 5px;
}

.price {
  font-family:'Just Another hand';
  font-size: 24px;
  font-weight: lighter;
}

.addcart {
  width:fit-content;
  height:fit-content;
  background-color: white;
  border:2px solid ;
  border-radius: 10px;
  font-family: 'Sedgwick Ave Display';
  font-size: 16px;
  color:#c4a389;
  align-self: flex-end;
  padding:8px;
}

.addcart:hover {
  background-color: #c4a389;
  color:white;
}